@model Uranus.Domain.Entities.User

@{
    ViewBag.Title = "Create";
}

<script type="text/javascript">
    function checkconfirmpassword() {
        var password = document.getElementById("password");
        var confirm_password = document.getElementById("confirmpassword");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">User</li>
            </ol>
        </div>

    </div><!-- /.row -->
    <div class="row">
        <div class="col-sm-12">
            @Html.AntiForgeryToken()
            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">×</a>
                    <h4>Validation Errors</h4>
                    @Html.ValidationSummary()
                </div>
            }
            @using (Html.BeginForm())
            {


                <div class="row">
                    <h4>User</h4>
                    <hr />
                    @Html.ValidationSummary(true)

                    <div class="form-group col-lg-4">
                        @Html.LabelFor(model => model.Name)

                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)

                    </div>

                    <div class="form-group col-lg-4">
                        @Html.LabelFor(model => model.EmailId)

                        @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmailId)

                    </div>

                    <div class="form-group col-lg-4">
                        @Html.LabelFor(model => model.UserName)

                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName)

                    </div>

                    <div class="form-group col-lg-4">
                        @Html.LabelFor(model => model.Password)

                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @id = "password" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <div class="form-group col-lg-4">
                        <label>Confirm Password</label>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @id = "confirmpassword" })
                    </div>
                    <div class="form-group col-lg-4">
                        <div class="col-lg-2">
                            @Html.LabelFor(model => model.Active)

                            @Html.CheckBoxFor(model => model.Active, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Active)
                        </div>
                        <div class="col-lg-2">
                            @Html.LabelFor(model => model.IsAdmin)

                            @Html.CheckBoxFor(model => model.IsAdmin, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IsAdmin)
                        </div>
                    </div>





                    <div class="clearfix"></div>
                    <div class="form-group col-lg-4"></div>
                    <div class="form-group col-lg-4">
                        <button class="btn btn-primary" type="submit" id="save" onclick="checkconfirmpassword()">Submit</button>
                        &nbsp;&nbsp;
                        @Html.ActionLink("Back to List", "List")
                    </div>

                </div>

            }

        </div>
    </div>
</div>
