@model Uranus.Domain.Entities.OrderDemo

@{
    ViewBag.Title = "Details";
}


<div class="container">
    <div class="row">
        <h4>Demo Order by: @Html.DisplayFor(model => model.Name)</h4>
         
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Designation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Designation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrganizationName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrganizationName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrganizationType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrganizationType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NoOfBranch)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NoOfBranch)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmailId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comments)
            </dd>

        </dl>
    </div>
    <p>

        @Html.ActionLink("Back to List", "List")
    </p>
</div>